@import './reset.scss';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  .--m {
    display: none;
  }
  .m_menu {
    display: flex;
    height: 60px;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
    img {
      height: 30px;
    }
    &_item {
      display: flex;
      a {
        font-size: 15px;
        padding: 0 5px;
      }
    }
  }
}

footer {
  background-color: $g;
  padding: 40px 5%;
  color: $w;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: 35px;
    }
    a {
      font-size: 15px;
    }
  }
}

.close {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  @include wh(30px, 30px);
  .bar {
    position: relative;
    top: 50%;
    background-color: $gd;
    transform: rotate(45deg);
    @include wh(100%, 2px);
    &:nth-child(2) {
      top: 43%;
      transform: rotate(-45deg);
    }
  }
}
.toggle {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 6;
  cursor: pointer;
  @include wh(30px, 18px);
  .bar {
    position: relative;
    border-radius: 1px;
    background-color: $gd;
    @include wh(100%, 3px);
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-3px);
    }
    &:nth-child(3) {
      top: 100%;
      width: 70%;
      margin-left: auto;
      transform: translateY(-6px);
    }
  }
}


@media (max-width: 768px) {
  header {
    left: -100%;
    background-color: $gl-op;

    .--m {
      display: block;
    }
    .m_menu {
      height: 100vh;
      padding: 5%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      img {
        margin: 15px 0;
      }
      &_item {
        width: 100%;
        flex-direction: column-reverse;
        a, span {
          padding: 15px 5px;
          color: $gd;
        }
        .wrap {
          display: flex;
          align-items: center;
          flex-direction: column;
          &:nth-child(2) {
            flex-direction: row;
            justify-content: center;
          }
        }
      }
    }
  }
}