@import './custom.scss';

.m_login, .m_register {
  background-color: $bl;
  text-align: center;
  .wrapper {
    padding: 50px 20px;
    width: 80%;
    margin: 0 auto;
    .m_btn {
      margin: 30px 0;
    }
    .m_input_2 {
      margin: 30px 0;
      input {
        text-align: center;
      }
    }
    .wrap {
      p {
        color: $black;
      }
      a {
        color: $gd;
      }
    }
  }
}

.m_radio {
  label {
    display: flex;
    align-items: flex-start;
    input {
      border-radius: 0;
      margin: 4px 0;
    }
    p {
      margin: 0;
      color: $black;
      text-align: left;
      padding-left: 10px;
    }
  }
}